.body {
    background-image: url("img/foodsteps.jpg");
    font-family: AppleGothic;
    font-size: 15px;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: darkseagreen;
    /* position: fixed; */
    width: 100%;
    height: 7rem;
    border-radius: 5px;

    padding: 2rem 2rem 2rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.table {
    background-color: white;
    width: auto;
    height: 50rem;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;

    padding: 2rem 2rem 2rem 2rem;
    margin: 1rem 5rem 1rem 5rem;
}

.navigationBar {
    width: auto;
    height: 7rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;

    padding: 5px 5px 5px 5px;
    margin: 1px;

    display: flex;
}
.navigation:hover {
    border-color: #FFFFFF;
    border-style: none none solid none;
}
.navigationSelected {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;

    border-color: #FFFFFF;
    border-style: none none solid none;

    padding: 5px 5px 5px 5px;
    margin: 5px;

    display: flex;
}
.icon-text {
    display: flex;
    align-items: center;
    margin: 20px;
}

.titel {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    justify-content: left;
}

i {
    color: #FFFFFF;
}



.button {
    display: block;
    color: #FFFFFF;
    background-color: #56c6bd;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    width: 280px;
    height: 40px;
    float: right;
}
.button:hover {
    animation: shake 0.9s;
    animation-iteration-count: 1;
}

commandlink {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    font-size: 30px;
    text-align: left;
    margin: 5px;
    color: #FFFFFF;
}
h2 {
    margin: 2px;
}
h3 {
    font-size: 20px;
    margin: 2px;
}
h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}
img {
    height: 155px;
    width: 155px;
    border-radius: 10px;
    margin: 3px;
}

.logo{
    float: left;
    height: 40px;
    width: unset;
}
.logo:hover {
    animation: shake 0.9s;
    animation-iteration-count: 1;
}

@keyframes shake {
    10%, 90% {transform: translate3d(-1px, 0px, 0px);}
    20%, 80% {transform: translate3d(2px, 2px, 0px);}
    30%, 50%, 70% {transform: translate3d(-3px, 2px, 0px);}
    40%, 60% {transform: translate3d(3px, 0px, 0px);}
}
